* {
    margin: 0;
    padding: 0;
}
      
.App {
    display: flex;
    width: 100%;
    background: burlywood;
    align-items: center;
    justify-content: center;
}

.container-modal-father {
    background-color: rgba(48, 48, 48, 0.603);
    width: 100%;
    position: absolute;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.overlayVisible {
    display: flex;
}

.container-modal {
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    position: fixed;
    background-color: white;
    flex-direction: column;
    display: flex;
    border: none;
    border-radius: 5px;
    gap: 20px;
    transition: clip-path .5s;
    text-align: center;
}

.isVisible {
    clip-path: inset(0 0 0 0);
}

.notVisible {
    clip-path: inset(0 50% 0 50%);
}

button {
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

